<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Księgarnia Dobra Książka</title>
    <link rel="stylesheet" href="../../../public/css/style.css"/>
</head>
<body>
<header>
    <h1>Księgarnia Dobra Książka</h1>
    <img src="../../../public/images/logo.jpg" alt="Księgarnia Dobra Książka Logo">
</header>
<nav>
    <ul>
        <li><a href="../index.ejs">Strona główna</a></li>
        <li><a href="../ksiazka/list.ejs">Książki</a></li>
        <li><a href="../magazyn/list.ejs">Magazyny</a></li>
        <li><a href="list.ejs" class="active">Stan w magazynach</a></li>
    </ul>
</nav>
<main>
    <h2>Szczegóły stanu w magazynach</h2>
    <form class="form">
        <label for="magazyn">Magazyn:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="magazyn" id="magazyn" disabled>
            <option value="">Magazyn na górce</option>
            <option value="Magazyn1">Magazyn na górce</option>
            <option value="Magazyn2">Magazyn w dołku</option>
        </select>
        <label for="ksiazka">Książka:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="ksiazka" id="ksiazka" disabled>
            <option value="">Lew, czarownica i stara szafa</option>
            <option value="Ksiazka1">Lew, czarownica i stara szafa</option>
            <option value="Ksiazka2">Książę Kaspian</option>
        </select>
        <label for="iloscNaStanie">Ilość na stanie:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="iloscNaStanie" value=1000 id="iloscNaStanie" disabled>
        <label for="cenaHurtowa">Cena hurtowa:</label>
        <input type="number" name="cenaHurtowa" value=20.50 id="cenaHurtowa" step="any" disabled>
        <label for="minilamnaIloscDoCenyHurtowej">Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej:</label>
        <input type="number" name="minilamnaIloscDoCenyHurtowej" value=100 id="minilamnaIloscDoCenyHurtowej" disabled>
        <label for="cenaDetaliczna">Cena detaliczna:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="cenaDetaliczna" value=30.50 id="cenaDetaliczna" step="any" disabled>
    </form>
    <p><a href="edit.ejs" class="list-actions-button-edit">Edytuj</a></p>
    <p><a href="list.ejs" class="list-actions-button-details">Powrót</a></p>
</main>
<footer>
    Jan, Kwasowski, s19191
</footer>
</body>
</html>