<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Dodaj stan książki w konkretnym magazynie</h2>
    <form class="form" novalidate onsubmit="return validateForm()">
        <label for="magazyn">Magazyn:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="magazyn" id="magazyn">
            <option value="">-- Wybierz magazyn --</option>
            <option value="Magazyn1">Magazyn na górce</option>
            <option value="Magazyn2">Magazyn w dołku</option>
        </select>
        <span id="errorMagazyn" class="errors-text"></span>
        <label for="ksiazka">Książka:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="ksiazka" id="ksiazka">
            <option value="">-- Wybierz książkę --</option>
            <option value="Ksiazka1">Lew, czarownica i stara szafa</option>
            <option value="Ksiazka2">Książę Kaspian</option>
        </select>
        <span id="errorKsiazka" class="errors-text"></span>
        <label for="iloscNaStanie">Ilość na stanie:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="iloscNaStanie" id="iloscNaStanie">
        <span id="errorIloscNaStanie" class="errors-text"></span>
        <label for="cenaHurtowa">Cena hurtowa:</label>
        <input type="number" name="cenaHurtowa" id="cenaHurtowa" step="any">
        <span id="errorCenaHurtowa" class="errors-text"></span>
        <label for="minilamnaIloscDoCenyHurtowej">Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej:</label>
        <input type="number" name="minilamnaIloscDoCenyHurtowej" id="minilamnaIloscDoCenyHurtowej">
        <span id="errorMinilamnaIloscDoCenyHurtowej" class="errors-text"></span>
        <label for="cenaDetaliczna">Cena detaliczna:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="cenaDetaliczna" id="cenaDetaliczna" step="any">
        <span id="errorCenaDetaliczna" class="errors-text"></span>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="Dodaj" />
            <a href="/stanWMagazynie" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>