<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista magazynów</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Magazyn</th>
            <th>Książka</th>
            <th>Ilość na stanie</th>
            <th>Cena hurtowa</th>
            <th>Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej</th>
            <th>Cena detaliczna</th>
            <th class="list-actions">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Magazyn na górce</td>
            <td>Lew, czarownica i stara szafa</td>
            <td>1000</td>
            <td>20,50</td>
            <td>100</td>
            <td>30,50</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/stanWMagazynie/details/1" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="/stanWMagazynie/edit/1" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Magazyn na górce</td>
            <td>Książę Kaspian</td>
            <td>5000</td>
            <td>18,50</td>
            <td>20</td>
            <td>35,50</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/stanWMagazynie/details/1" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="/stanWMagazynie/edit/1" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Magazyn w dołku</td>
            <td>Lew, czarownica i stara szafa</td>
            <td>15000</td>
            <td>40,50</td>
            <td>300</td>
            <td>45,90</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/stanWMagazynie/details/1" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="/stanWMagazynie/edit/1" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Magazyn w dołku</td>
            <td>Książę Kaspian</td>
            <td>2500</td>
            <td>15,80</td>
            <td>500</td>
            <td>39,99</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/stanWMagazynie/details/1" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="/stanWMagazynie/edit/1" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a href="/stanWMagazynie/add" class="button-add">Dodaj stan książki w konkretnym magazynie</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>