<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły książki</h2>
    <form class="form">
        <label for="tytul">Tytuł:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="tytul" value="Lew, czarownica i stara szafa" id="tytul" disabled>
        <label for="autor">Autor:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="autor" value="C.S. Lewis" id="autor" disabled>
        <label for="dataWydania">Data wydania:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="date" name="dataWydania" value="1950-01-01" id="dataWydania" disabled>
    </form>
    <p><a href="/ksiazka/edit/1" class="list-actions-button-edit">Edytuj</a></p>
    <h2>Szczegóły stanu książki w magazynach</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Nazwa magazynu</th>
            <th>Ilość na stanie</th>
            <th>Cena hurtowa</th>
            <th>Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej</th>
            <th>Cena detaliczna</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Magazyn na górce</td>
            <td>1000</td>
            <td>20,50</td>
            <td>100</td>
            <td>30,50</td>
        </tr>
        <div>
            <tr>
                <td>Magazyn w dołku</td>
                <td>5000</td>
                <td>18,50</td>
                <td>20</td>
                <td>35,50</td>
            </tr>
        </div>
        </tbody>
    </table>
    <p><a href="/ksiazka" class="list-actions-button-details">Powrót</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>