<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edytuj dane o książce</h2>
    <form class="form" novalidate onsubmit="return validateForm()">
        <label for="tytul">Tytuł:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="tytul" placeholder="2-60 znaków" value="Lew, czarownica i stara szafa" id="tytul">
        <span id="errorTytul" class="errors-text"></span>
        <label for="autor">Autor:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="autor" placeholder="2-60 znaków" value="C.S. Lewis" id="autor">
        <span id="errorAutor" class="errors-text"></span>
        <label for="dataWydania">Data wydania:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="date" name="dataWydania" placeholder="Data w formacie yyyy-MM-dd" value="1950-01-01" id="dataWydania">
        <span id="errorDataWydania" class="errors-text"></span>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="Dodaj" />
            <a href="/ksiazka" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>